nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href="/")
    img.d-inline-block.align-middle(src="/img/logo.svg", alt="Fiscus" height="33px")
    | &nbsp;
    | Fiscus
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar", aria-expanded="false", aria-label="Toggle Navigation")
    span.navbar-toggler-icon

  .collapse.navbar-collapse(id="navbar")
    .navbar-nav.mr-auto
      .nav-item(class=(title == 'Home') ? 'active' : null)
        a.nav-link(href='/') Home
      if user
        .nav-item(class=(title == 'Portfolio') ? 'active' : null)
          a.nav-link(href='/portfolio') Portfolio
      .nav-item.ml-auto.mr-auto(id="search-bar-container")
        select#search-bar
      if user && user.isAdmin
        .nav-item(class=(title == 'Admin') ? 'active' : null)
          a.nav-link(href='/admin') Admin Console
      if user
        .nav-item.dropdown
          a.nav-link.dropdown-toggle.navbar-right(href="#", id="accountDropdown", data-toggle="dropdown", aria-haspopups="true", aria-expanded="false") Settings
          .dropdown-menu(aria-labelledby="accountDropdown")
            a.dropdown-item(href="/account") My Account
            a.dropdown-item(href="/invert") Invert Theme
            a.dropdown-item(href="/logout") Logout
      else
        .nav-item.navbar-right(class=(title == 'Log in') ? 'active' : null)
          a.nav-link(href='/login') Log in
        .nav-item.navbar-right(class=(title == 'Sign up') ? 'active' : null)
          a.nav-link(href='/signup') Sign up
