doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/vendor/fa.css')
    link(rel='stylesheet', href='/css/vendor/select2.min.css')
    link(rel='stylesheet', href='/css/vendor/select2-bootstrap4.min.css')
  body
    .container(style={'max-width': '1300px'})
      include includes/header
      hr.mt-0
      include includes/alerts
      block content
      hr
      include includes/footer

    script(src='/js/lib/jquery.js')
    script(src='/js/lib/popper.js')
    script(src='/js/lib/bootstrap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
    script(src='/js/lib/moment.js')
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
    //script(src='/js/lib/Chart.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js')
    script(src='/js/main.js')

