.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,0.9);
}

.card-title {
    color: rgba(255,255,255,0.9) !important;
}

.card-text {
    color: rgba(255,255,255,0.8) !important;
}

.card-subtitle.text-muted {
    color: rgba(255,255,255,0.5) !important;
}

.card-header {
    color: rgba(255,255,255,0.9) !important;
}

label {
    color: rgba(255,255,255,0.8) !important;
}

h5.text-muted {
    color: rgba(255,255,255,0.9) !important;
}

p {
    color: rgba(255,255,255,0.8);
}